.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

/* shared class */
.primary-color{
    color: #4E47FF;
}
.btn-primary{
    background-color: #4E47FF;
    font-weight: bold;
    font-size: 20px;
    color: white;
    border: none;
    padding: 15px 35px;
    border-radius: 10px;
}






/* header */
.header{
    background-image: url('./Assets/Hero-bg.png');
    background-repeat: no-repeat;
}

.nav-title{
    font-weight:800;
    font-size: 45px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}

.banner{
    text-align: center;
    margin: 0 auto;
    padding-bottom: 70px;
}
.banner-content{
    color: #252432;
    font-size: 55px;
}


/* action section */
.action-section{
    margin: 100px 200px;
    display: flex;
    justify-content: space-between;
}
.action-section img{
    border-radius: 50px;
 
}
.section-text{
    padding-right: 60px;
}
.section-text h3{
    font-size: 40px;
    color: #252432;
}
.section-text p{
    color: #252432;
    opacity: 50%;
    font-size: 25px;
}