.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

/* shared class */
.primary-color{
    color: #4E47FF;
}
.btn-primary{
    background-color: #4E47FF;
    font-weight: bold;
    font-size: 15px;
    color: white;
    border: none;
    padding: 15px 35px;
    border-radius: 10px;
}
button:hover{
    background-color: yellow;
    color: black;
    cursor: pointer;
    transition: background-color 0.3s;
}
.heading-tilte{
    font-size: 40px;
    color: #252432;
}







/* header */
.header{
    background-image: url('./Assets/Hero-bg.png');
    background-repeat: no-repeat;
}

.nav-title{
    font-weight:800;
    font-size: 45px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}

.banner{
    text-align: center;
    margin: 0 auto;
    padding-bottom: 70px;
}
.banner-content{
    color: #252432;
    font-size: 55px;
}

main{
    /* max-width: 1140px; */
    /* margin: 0 auto; */
    background-color: #00000004;
}


/* action section */
.action-section{
    margin: 100px 200px;
    display: flex;
    justify-content: space-between;
}
.action-section img{
    border-radius: 50px;
 
}
.section-text{
    padding-right: 60px;
}
.section-text h3{
    font-size: 40px;
    color: #252432;
}
.section-text p{
    color: #252432;
    opacity: 50%;
    font-size: 25px;
}



/* ======================================user section======================== */
.user-section{
    
    margin: 100px 200px;
    /* width: 800px; */
    height: 300px;
    padding-top: 10px;
    padding-bottom: 100px;
    background-color: rgba(78, 71, 255, .1);
    text-align: center;
    border-radius: 20px;
}
.user-data{
    display: flex;
    justify-content: space-around;
}
.user-section h3{
    font-size: 35px;
    color: #252432;
}
.user-data-item h1{
    font-size: 80px;
    color: #4E47FF;
}
.user-data-item p{
    color: #252432;
    opacity: 50%;
    font-size: 20px;
    /* background-color: rgba(78, 71, 255, .1); */
}






/*=============== feedback section============================================ */

.feedback{
    margin: 200px 200px;
    text-align: center;
}


.review-container{
    display: flex;
    gap: 24px;
}

.user{
    text-align: left;
    border: 1px solid rgba(255, 184, 5, 0.3);
    border-radius: 10px;
    color: #F2EDED;
    padding: 20px;
    background-color: white;
}

.user-identity{
    display: flex;
}
.user-pic{
    height: 60px;
    width: 60px;
}
.review-title{
    font-size: 20px;
    color: #252432;
}
.review-description{
    color: black;
    font-weight: 400;
}
.username{
    color: black;
    opacity: 70%;
}
.date{
    color: black;
    opacity: 40%;
}
.user-identity img{
    border-radius: 50%;
}




/* --------------------------------get started section----------------------------- */
.get-started{
    margin: 200px 200px;
    text-align: center;
    background-color: white;
}
.started-text{
    padding-bottom: 30px;
    padding-top: 20px;
}
.get-started img{
    border-radius: 40px;
}
.get-started p{
    opacity: 70%;
    padding-bottom: 15px;
}




/* ---------------------------------------form section------------------------------- */
.form-text h1{
    font-size: 90px;
}
.form{
    margin: 100px 200px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
}
.main-form form{
    display: flex;
    flex-direction: column;
}
form label{
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 5px;
    font-weight: 500;
}
form input, form textarea{
    padding: 10px 10px;
    border: 1px solid rgba(80, 78, 78, 0.425);
    border-radius: 5px;
    font-size: 15px;
}

form button{
    margin-top: 10px;
}



/*---------------------------footer----------------------------------------------------- */
.footer{
    margin: 100px 200px;
    text-align: center;
}
.footer h1{
    font-size: 75px;
    font-weight: bolder;
    color: #4E47FF;
}
.info{
    display: flex;
    justify-content: space-around;
    padding: 0 250px;
}
.info-item a{
    text-decoration: none;
    color: #252432;
}

